################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/test22/bin/Debug/netcoreapp3.1
/test22/.vs/test22
/test22/obj
